<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
    </head>
    <body>
        <form method="post" action="/new">
            <h1>Send a new message!</h1>
            <label for="auth">Enter your user name: </label><br />
            <input type="text" id="userName" name="userName" required /><br />
            <label for="msg">Write your message: </label><br />
            <input type="text" id="msgText" name="msgText" /><br />
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
